// Colors.
$backgroundColor:   #f9fafb;
$borderColor:       #e8ebf0;
$borderRadius:      4px;
$primaryDark:       #f9fafb; 
$primary:           #e70413; 
$primaryLight:      #e70413; 
$primaryDust:       #dce4ef; 
$secondaryDark:     #424242; 
$secondary:         #424242; 
$secondaryLight:    #FFFAEE; 
$grayDark:          #323A45;
$grayMedium:        #A7AAAC;
$grayLight:         #dddddd;
$grayDust:          #eeeeee;
$headingColor:      #424242;
$textColor:         #424242;
$linkColor:         #e70413;
$linkHoverColor:    #e70413;
$navBarBackgroundColor: #e70413;
$navBarLink:        #FFFFFF;
$navBarLinkActive:  #FFFFFF;
$navBarLinkHoverBack:   #a30713;
$navBarLinkActiveBack:  #e70413;
$navBarLinkActiveHoverBack: #f2d13c;
$navBarLinkActiveHover: #FFFFFF;
$heroBackgroundColor: #e70413;;
$heroTextColor:     #FFFFFF;
$heroHeadingColor:  #FFFFFF;
$footerBackgroundColor: #424242;
$footerText:        #FFFFFF;
$footerLink:        #FFFFFF;
$footerLinkHover:   #FFFFFF;

// Fonts.
$fontText: 'Rubik Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$fontHeading:'Rubik Bold','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

// Alerts/Messaging.
$info:          #d9534f;
$warning:       #fc9905;
$danger:        #d9534f;
$success:       #46a546;

// File Formats.
$apiIcon:       #317daa;
$binIcon:       #7a7a00;
$csvIcon:       #0b4498;
$docIcon:       #6f5191;
$rdfIcon:       #e36504;
$jsonIcon:      #005051;
$kmlIcon:       #3F6EA5;
$pdfIcon:       #e0051e;
$pptIcon:       #CF452C;
$xmlIcon:       #d14900;
$xlsIcon:       #015924;
$zipIcon:       #3B0053;
$htmlIcon:      #317daa;
$dataIcon:      #666666;
